# Enable URL rewriting
RewriteEngine On

# Redirect all requests to index.php if the file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Deny access to .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Deny access to files in the vendor directory
<FilesMatch "^vendor/">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to other sensitive files
<FilesMatch "\.(env|log|ini|htaccess)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable directory listing
Options -Indexes